# Semana 07
Carlos Julian Gómez Morales

Temas:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de Cadenas
    5. Operadores

5. Operadores

#5.1 Operadores aritmeticos
#Se tiene: +, -, *, /, **, %, //

In [5]:
numero1= 10
numero2= 3
suma = numero1 + numero2
print(suma)

13

In [6]:
resta = numero1 - numero2
print(resta)

7

In [7]:
multiplicacion = numero1 * numero2
print(multiplicacion)

30

In [8]:
division = numero1 / numero2
print(division)

3.3333333333333335

In [9]:
residuo = numero1 % numero2
print(residuo)

1

In [10]:
cociente = numero1 // numero2
print(cociente)

3

In [12]:
potencia = numero1 ** numero2
print(potencia)

1000

In [13]:
#5.2 Operadores de asignacion
#Se tiene: =, +=, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [14]:
#La operacion anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [16]:
#Lo mismo se puede hacer con todos los casos, incluso la potencia
#Veamos otro ejemplo
numero = 5
numero = numero **3
print(numero)

125

In [19]:
#La operacion anterior tambien se puede expresar de la siguiente manera:
numero=5
numero **=3
print(numero)

125

In [20]:
#5.3 Operadores de comparacion
#Se tiene: ==, !=, <, >, <=, >=,

In [21]:
#Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [22]:
#Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [23]:
#5.4 Operadores logicos
#Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [24]:
numero1 < numero2

True

In [25]:
#El not invierte el resultado
not(numero1<numero2)

False

In [26]:
numero1<numero2 and numero3<numero4

True

In [27]:
#Tambien puedes utilizar parentesis para ordenar tu operacion
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [28]:
#5.5 Operadores de Pertenencia
#Se tiene: in, not in
#Miremos un ejemplo

aula=["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [29]:
#Diego esta en aula?
alumno1 in aula

False

In [30]:
#Juan esta en aula?
alumno2 in aula

True

In [31]:
#Diego no esta en aula?
alumno1 not in aula

True

In [32]:
#Juan no esta en aula?
alumno2 not in aula

False

In [33]:
#5.6 Operadores de identidad
#Se tiene: is, is not

In [34]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
#A continuacion vamos a indicar que aula2 va a compartir el mismo objeto que aula1
aula3 = aula1

In [35]:
#¿aula3 comparte el mismo objeto que aula1 ?
aula3 is aula1

True

In [36]:
#¿aula3 comparte el mismo objeto que aula2 ?
aula3 is aula2

False

In [37]:
#aula2 comparte el mismo objeto que aula1 ?
aula2 is aula1

False

In [38]:
aula1.append("Diego")

In [39]:
#Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [40]:
#Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [41]:
#Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']