# Semana 07
Carlos Julian Gómez Morales

Temas:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de Cadenas
    5. Operadores

3. Manejo de Cadenas

In [3]:
cadena="Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [4]:
#Universidad Nacional Tecnologica de Lima Sur
#01234...............
#                                        -2-1

In [5]:
cadena[5]

'r'

In [6]:
cadena[10]

'd'

In [7]:
#tambien considera los espacios
cadena[11]

' '

In [8]:
#¿Que me mostrara?
cadena[-5]

'a'

In [9]:
cadena[21]

'T'

In [10]:
#Tambien lo puedo mostrar accediendo de manera inversa
cadena[-23]

'T'

In [11]:
#Para mostrar una subcadena [desde, hasta una antes]
#En java era substring()
cadena[3:8]

'versi'

In [12]:
#Para saber el tamaño de una cadena utilizamos len()
#incluye espacios en blanco
len(cadena)

44

In [13]:
#Para mostrar una cadena en mayuscuka utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [14]:
#Ojo... solo lo muestra, porque el original sigue siendo igual
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [15]:
#Para mostrar una cadena en minuscula utilizamos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [16]:
#Generar una lista a partir de una cadena .split()
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [21]:
#Generar una lista utilizando un criterio de separacion a partir de una cadena .split()
#En este caso vamos a generar una lista de toda la cadena, utilizando como criterio de separacion la letra "A"
cadena.split('a')

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [22]:
#Forma clasica, concatenar con +
nombre = "Gómez Morales"
print("Buenas Tardes " + nombre)

Buenas Tardes Gómez Morales

In [23]:
#Utilizando el .format()
nombre="Carlos Julian"
edad=10
print("hola {} ya se que tienes {} años".format(nombre, edad))

hola Carlos Julian ya se que tienes 10 años

In [30]:
#Dar formato a numeros con muchos decimales
resultado = 10/3
print("10/3 es = {} ".format(resultado))
print("10/3 es = {r:1.1f} ".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.3

In [33]:
#Dar formato con f
#La funcion f, esta disponible desde la version 3.6
nombre="Carlos Julian"
edad=8
print(f"buenos dias {nombre}, ya se que tienes {edad} años")

buenos dias Carlos Julian, ya se que tienes 8 años

In [34]:
#Dar formato a numeros con muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado} ")
print(f"10/3 es = {resultado:1.3f} ")

10/3 es = 3.3333333333333335
10/3 es = 3.333